HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Secret ###
/docker-compose.yml
/src/main/resources/auth-server.jks
/README.md
/proxy/self-signed-key.pem
/proxy/self-signed-crt.pem
/proxy/self-signed.key
/proxy/self-signed.crt
/proxy/ffdhe2048.pem
/proxy/nginx.conf

### Maven ###
.mvn/
mvnw
mvnw.cmd